/* Runam */
body{
    margin: 0%;
}
#headcontainer{

position: relative;
width: 100%;
background: #5C0404;

padding-bottom: 10%;


}

#head{
    margin: 0% 10% 0%;
    display: flex;
    width: 80% ;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    padding: auto;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    
}

#logo{

font-weight: 700;
display: none;
color: #FFFFFF;
font-size: 1.125rem;
line-height: 1.75rem;

}
#runma{

font-weight: 700;
color: #FFFFFF;
font-size: 1.125rem;
line-height: 1.75rem;
position: relative;
}
#headtext{
display: none;
    }

    .pro{
        padding: 10px;
    }
.dropbtn {
  background-color: inherit;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  margin: auto;
  border-color: #FFFFFF;
  border-width: 1px;
}

.dropdown {
  position: relative;
  top: 0px;
  z-index: 999;
  display: flex;
}
hr{
    width: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #5C0404;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #A66606;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #A66606;}
#learn{
    width: 80%;
    margin: 0% 10% 0%;
    position: relative;
    padding: auto;
}

#maintext{
    /* A Digital Playground For Everyone */
    position: relative;
    top: 40px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 130%;
    line-height: 137.1.75rem;
    padding-bottom: 2%;
    /* or 82px */

    color: #FFFFFF;
}
#text{
    /* Runam creates a social connection between business owners, artistes and influencers while also offering bills payments and event ticketing. */

    position: relative;
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130.19%;
    padding-top: 0%;
    /* or 38px */

    color: #FFFFFF;
}
#lol{
    width: 100%;
    margin: 0% 5% 0%;
    position: relative;
    padding-top: 10%;
}
#apple{
width: 40%;
}

#google{
width: 45%;
}
#fuckup{

}
#mainimg{
    /* image 229 */
position: relative;
width: 95%;
margin: 10% 2% 0%;
display: flex;


background: url(image.png);

}

#shape{/* Ellipse 125 */
        display: none;
        position: absolute;
        width: 70px;
        height: 70px;
        left: 320px;
        top: 270px;
        border-radius: 200px;
        background: linear-gradient(180deg, #7A2E2E 0%, rgba(124, 1, 1, 0) 100%);
        }
#this{
    position: relative;
    display: flex;
    top: -630px;
    
    
}
#shape1{/* Ellipse 124 */

        position: absolute;
        width: 70px;
        height: 70px;
        left: 5px;
        top: 580px;
        border-radius: 200px;
        background: linear-gradient(180deg, #7A2E2E 0%, rgba(124, 1, 1, 0) 100%);
        }
#facetwo{/* Rectangle 365 */

        position: relative;
        width: 100%;
        
        background: #FDF9F9;
        }
#lovw{
        /* image 92 */

        position: relative;
        width: 80%;
        height: 250px;
        margin: 0% 10% 10%;
        background: url(image.png);
        border-radius: 50px;
        display: table-footer-group;

    }

#texttwo{
        
        font-family: 'Merriweather';
        font-style: normal;
        width: 80%;
        padding-bottom: 2%;
        display: table;
    }
#jyjy{
    display: table-header-group;
}
#creating{/* Creating a social presence for every business */

        position: relative;
        
        font-weight: 900;
        font-size: 1rem;
        line-height: 137.19%;
        margin: 0% 10% 0%;
        padding-top:10%;
        /* or 55px */
        
        color: #D0830F;
        
        }
   
#provide{/* we provide targeted social media presence, social media boost, music and product advertisement through influencers, promote anything and everything through our pool of influencers. */

        position: relative;
        width: 80%;
        margin: 0% 10% 0%;
        text-align: justify;
        font-weight: 400;
        font-size: 14px;
        line-height: 137.19%;
        padding-bottom: 10%;
        
        /* or 34px */
        
        color: #000000;
        
        }
#stepthree{/* Rectangle 354 */

        position: relative;
        width: 100%;
        background: #532929;
        display: table;
        }
#facethree{
        display: table-header-group;
}
#phone{/* Frame 72 */
        display: table-footer-group;
        position: relative;
        width: 80%;
        margin: 10% 10% 10%;
        background: #F9EDED;
        border-radius: 500px;
    }

#billsn{/* Bills payment */
        padding-top: 10%;
        padding-bottom: 5%;
        position: relative;
        margin: 0% 10% 0%;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 137.19%;
        /* identical to box height, or 55px */
        
        color: #FFFFFF;
        
        }
   
#Airtime1{
   /* Airtime purchase. */

    position: relative;
    margin: 0% 10% 3%;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 137.19%;
    /* or 27px */

    color: #FFFFFF;

}
#Airtime{
    /* Stay connected effortlessly with our seamless airtime purchase experience Recharge your mobile balance instantly and conveniently through our user-friendly platform. */

    position: relative;
    width: 80%;
    margin: 0% 10% 5%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 34px */

    color: #FFFFFF;

    }
#Electricity{
    /* Electricity */

    position: relative;
    margin: 0% 10% 3%;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 137.19%;
    /* or 27px */

    color: #FFFFFF;

}

#Electricity1{/* Experience uninterrupted convenience with our Power Subscription service. Say goodbye to downtime and hello to constant energy flow. Enjoy seamless access to power,with reliable support. */

    position: relative;
    width: 80%;
    margin: 0% 10% 5%;
    text-align: justify;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 34px */
    
    color: #FFFFFF;
    
    }
#Data{/* Data */

    position: relative;
    width: 80%;
    margin: 0% 10% 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 137.19%;
    /* or 27px */
    
    color: #FFFFFF;
    
    }

#Data1{/* Stay connected on the go with lightning-fast mobile data! Stream, browse, and share seamlessly with our affordable-data plans. Experience the freedom of reliable connectivity in your pocket. */

    position: relative;
    width: 80%;
    margin: 0% 10% 5%;
    text-align: justify;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 34px */
    
    color: #FFFFFF;
    
    }

#Cable{/* Cable and Internet Tv */

    position: relative;
    margin: 0% 10% 3%;
    width: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 137.19%;
    /* or 27px */
    
    color: #FFFFFF;
    
    }

#Cable1{/* Stay connected on the go with lightning-fast mobile data! Stream, browse, and share seamlessly with our affordable-data plans. Experience the freedom of reliable connectivity in your pocket. */

    position: relative;
    width: 80%;
    margin: 0% 10% 5%;
    
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 34px */
    
    color: #FFFFFF;
    
    }

#partners{/* Rectangle 353 */

    position: relative;
    width: 100%;
    background: #FEFCFC;
    z-index: 999;
    }
#ourpartners{/* Our partners */

    position: relative;
    width: 50%;
    margin: 0% 40% 5%;
    padding-top: 15%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* identical to box height, or 55px */
    
    color: #6A0D0D;
    
    }
#hmm{
    width: 80%;
    margin: 0% 15% 0%;
    padding-bottom: 10%;
}
#a{/* ikeja */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    
    border-radius: 50%;
    }
#b{/* eko */

    box-sizing: border-box;
    
    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    
    border: 2px solid #000000;
    border-radius: 50%;
    }
#cd{/* abuja */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    display: none;
    
    }
#d{/* ibadan */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    }
#e{/* kaduna */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    }
#f{/* image 239 */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    bottom: 59.88%;
    background: url(image.png);
    border-radius: 50%;
    }
#g{/* jos */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    }
#h{/* kano */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    }
#i{/* gotv */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    }
#j{/* startimes */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    }
#k{/* image 100 */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    background: url(image);
    
    }
#l{/* image 222 */

    position: re;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    }
#m{/* image 223 */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    
    background: url(image);
   
    }
#n{/* image 224 */

    position: relative;
    width: 10%;
    height: 10%;
    margin: 2%;
    border-radius: 50%;
    display: none;
    background: url(image);
    
    }
#o{/* image 234 */

    position: relative;
    width: 15%;
    height: 10%;
    margin: 1%;
    
    background: url(image.png);
    border-radius: 109.5px;
    }
#p{/* image 231 */

    position: relative;
    width: 15%;
    height: 10%;
    margin: 1%;
    background: url(image);
    border-radius: 60%;
    }
#q{/* image 232 */

    position: relative;
    width: 15%;
    height: 10%;
    margin: 1%;
    border-radius: 60%;
    background: url(image);
    }
#r{/* image 233 */

    position: relative;
    width: 15%;
    height: 10%;
    margin: 1%;
    
    background: url(image);
    border-radius: 60%;
    }
#s{/* image 236 */

    position: relative;
    width: 15%;
    height: 10%;
    margin: 2%;
    display: none;
    top: 150px;
    border-radius: 40%;
    background: url(image);
    background-color: #FFFFFF
    }
#t{/* image 230 */

    position: relative;
    width: 15%;
    height: 10%;
    margin: 1%;
    background: url(image);
    border-radius: 60%;
    }
#account{
    width: 100%;
    position: relative;
    top: 1550px;
    z-index: 999;
}
#dig{/* Digitized Events ticking */

    position: relative;
    width: 80%;
    margin: 0% 10% 0%;
    display: none;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* identical to box height, or 55px */
    
    color: #6A0D0D;

}
#dig1{/* Digitized Events ticking */

    position: relative;
    width: 80%;
    margin: 0% 10% 0%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* identical to box height, or 55px */
    padding-top: 6%;
    color: #6A0D0D;
    top: -320px;
   
}
#acctext{/* Our merchant web account is an online portal specifically designed for Merchants to manage their financial transactions and payments securely. It offers businesses the ability to offer various forms of electronic bills payments, including credit cards and digital wallets, streamlining the sales process. These accounts also provide reporting and analytics tools, helping merchants track sales trends and manage their finances more effectively. */

    position: relative;
    width: 80% !important;
    margin: 0% 10% 0% !important;
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 36px */
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #000000;
    top: -330px;
  
    }
.acctext{
    display: none !important;
}
#accp{/* Component 108 */

    position: relative;
    width: 80%;
    margin: 0% 10% 0%;
    top: -300px;
    }

.why{  /* Why Runam? */
    position: relative;
    width: 100%;
    display: grid;
    top: -300px;
    grid-template-rows: 1fr 1fr;
    background: #FFFFFF;
}
#why{/* Why Runam? */

    position: relative;
    width: 40%;
    margin: 0% 40% 0%;
    z-index: 9999;
    top: 370%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* identical to box height, or 55px */
    
    color: #EC883F;
    
    }
.secured{/* Ellipse 123 */

        position: absolute;
        width: 80%;
        height: 150px;
        margin: 0% 10% 0%;
        top: 150px;
        border-radius: 45%;
        border-bottom-left-radius: 70%;
        border-bottom-right-radius: 70%;
        background: #FDF9F9;
        }
#secured{/* Secured */

        position: relative;
        margin: 0% 30% 0%;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 137.19%;
    
        /* or 41px */
        padding: 2%;
        color: #000000;
        
        }
#securedtext{/* A secured web platform ensures the utmost protection for your online activities, offering peace of mind in the digital realm. */

    position: relative;
    width: 80%;
    height: 100px;
    margin: 0% 10% 0%;
    padding: 0%;
    top: 0px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 36px */
    
    color: #000000;
    
    }
.Reliable{/* Ellipse 122 */

    position: absolute;
    width: 80%;
    height: 150px;
    margin: 0% 10% 0%;
    top: 325px;
    border-radius: 45%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    background: #FDF9F9;
    

}
#Reliable{
    /* Reliable */
    padding: 4%;
    position: relative;
    margin: 0% 30% 0%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* or 41px */

    color: #000000;


}
#Reliabletext{
    /* Our platform is reliable and delivers consistent performance and dependable service, fostering trust and satisfaction among users. */

    position: relative;
    width: 80%;
    margin: 0% 10% 0%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 36px */

    color: #000000;


}
.Fast{
    position: absolute;
    width: 80%;
    height: 150px;
    margin: 0% 10% 0%;
    top: 500px;
    border-radius: 45%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    background: #FDF9F9;
    }
#Fast{/* Fast and efficient */

    padding: 4%;
    position: relative;
    margin: 0% 20% 0%;
    width: 80%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* or 41px */
    
    color: #000000;
    
    }
#Fasttext{/* A fast and efficient web platform accelerates online experiences, saving valuable time and enhancing productivity for users. */

    position: relative;
    width: 80%;
    margin: 0% 10% 0%;
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 36px */
    
    color: #000000;
    
    }
.relet{
    position: relative !important;
    
}
#Digitized{/* Rectangle 367 */

    position: relative;
    width: 100%;
    top: -908px;
    background: #D9D9D9;
    }
#Digitized1{/* Digitized Events ticking */

    position: relative !important;
    width: 80%;
    margin: 0% 10% 0%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 137.19%;
    /* identical to box height, or 55px */
    padding-top: 10%;
    color: #6A0D0D;
    
    }
#Digitizedtext{/* An event ticketing service is a convenient and user-friendly platform that allows individuals to purchase tickets for various events, from concerts and sports games to theater productions and festivals. It simplifies the ticket-buying process, often offering digital ticket options, seat selection, and real-time event information, ensuring a seamless and enjoyable experience for event-goers. With secure payment processing, it provides a reliable way for both organizers and attendees to manage and access event tickets. */

    position: relative !important;
    width: 80%;
    margin: 2% 10% 0%;
    text-align: justify;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 137.19%;
    /* or 36px */
    color: #000000;
    
    }
#ppx{display: none;}
#ppp{display: inline;}
#tick{/* Frame 92 */

    position: relative;
    width: 80%;
    margin: 10% 10% 5%;
    z-index: 1;   
    }
#newbnt{/* Rectangle 45 */
    display: none;
    position: absolute;
    left: 182px;
    top: 580px;
    display: none;
    background: #F6E0DB;
    border-radius: 50px;
    }
#newtext{  
    /* Download on apple store */

    position: absolute;
    width: 110px;
    height: 42px;
    left: 260px;
    top: 600px;
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #000000;

}
#Contact{/* image 237 */

        position: relative;
        width: 100%;
        height: 100px;
        left: 0px;
        top: 440px;
        color: #FFFFFF;
        
    }
#Contactus{
    /* Contact us */

position: absolute;
width: 213px;
height: 55px;
left: 150px;
top: 80px;
z-index: 1;
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 137.19%;
/* identical to box height, or 55px */
display: none;
color: #EC883F;

}
#contactpic{/* image 237 */

    position: relative;
    width: 100%;
    top: 200px;
    background: url(image.png);
    z-index: 999;
    display: block;
    }
    #contactbox{/* image 237 */

       /* Rectangle 377 */

    position: relative;
    width: 90%;
    margin: 0% 5% 0%;
    height: 160px;
 
    z-index: 999;
    background: #3C2323;

        }
#number{/* Component 110 */

    position: relative;
    width: 10%;
    height: 20%;
    left: 280px;
    top: 50px;
    margin: 0% 5% 0%;
    background-color: #FFFFFF;
    border-radius: 50%;
    }
#phonen{/* Vector */

    /* Vector */

    position: relative;
    left: 30.08%;
    right: 30.08%;
    top: 30.33%;
    bottom: 29.51%;
    width: 10% !important; 
    height: 10% !important;
    }
.phon1{ 
        display: none ;
    }
#phon1{
    display: inline !important;
}
#number1{/* +234 70 62466 015 */
    text-align: center;
    position: relative;
    width: 200%;
    margin: 0% 5% 0%;
    top: 100%;
    /* +234 706 2466 015 */
    left: -50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 137.19%;
    /* identical to box height, or 11px */

    color: #FFFFFF;

    }
#eaa{
    width: 80%;
    margin: 0% 1% 4%;
}
#email{/* Component 111 */
    
    position: relative;
    width: 10%;
    height: 20%;
    left: 150px;
    margin: 1% 5% 3%;
    top: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    }

#email1{/* info@runamapp.com */

    position: absolute;
    width: 40%;
    height: 36%;
    left: 160px;
    top: 80px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 137.19%;
    /* identical to box height, or 36px */
    
    color: #FFFFFF;
    
    }
#em{
    /* evaEmailOutline1 */

position: absolute;
left: 25.92%;
right: 25.93%;
top: 33.73%;
bottom: 36.6%;


}
#address{/* Component 112 */

    position: relative;
    width: 10%;
    height: 20%;
    left: 20px;
    top: -20px;
    margin: 0% 5% 0%;
    background-color: #FFFFFF;
    border-radius: 50%;
    }
#add{
    position: relative;
    left: 30.08%;
    right: 30.08%;
    top: 30.33%;
    bottom: 29.51%;
}
#address1{/* 15 Reality avenue, crown estate, lekki peninsula, lagos state. */

    position: relative;
    width: 28%;
    left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 137.19%;
    /* or 30px */
    top: -15%;
    color: #FFFFFF;
    
    }
#loc{
    display: none;
}
#footer{/* Rectangle 364 */

    position: relative;
    width: 100%;
    height: 250px;
    left: 0px;
    top: 775px;
    
    background: #5C0404;
    }
#footter{/* Rectangle 339 */
    display: none;
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 0%;
    border-radius:0px 0px 0px 0px ;
    background: #5C0404;
    }
#phonefotter{
    display: block;
}
#fftext{
    /* Runam and Runup technologies limited® */

position: relative;
width: 80%;
margin: 0% 10% 0%;
top: 50px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 137.19%;
/* identical to box height, or 21px */

color: #FFFFFF;

}
#was{/* We are social: */

    position: relative;
    width: 25%;
    margin: 0% 5% 0%;
    top: 70px;
    left: 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    }
#ins{/* image 229 */
    width: 5%;
    height: inherit;
    position: absolute;
    left: 170px;
    right: 52.35%;
    top: 90px;
    bottom: 1.6%;
    
    background: url(image.png);
    }
#tw2{/* image 229 */
    width: 5%;
    height: inherit;
    position: absolute;
    left: 230px;
    right: 52.35%;
    top: 90px;
    bottom: 1.6%;
        
    background: url(image.png);
        }
#tw1{/* image 229 */
    width: 5%;
    height: inherit;
    position: absolute;
    left: 260px;
    right: 52.35%;
    top: 90px;
    bottom: 1.6%;
            
    background: url(image.png);
    }
#you{/* image 229 */
    width: 5%;
    height: inherit;
    position: absolute;
    left: 200px;
    right: 52.35%;
    top: 90px;
    bottom: 1.6%;
    
    background: url(image.png);
    }
#tk{/* image 229 */
    width: 5%;
    height: inherit;
    position: absolute;
    left: 290px;
    right: 52.35%;
    top: 90px;
    bottom: 1.6%;
    
    background: url(image.png);
    }

#cr2{/* Copyright 2023 Runam and Runup technologies */

    position: relative;
    width: 80%;
    margin: 0% 10% 0%;
    text-align: center;
    top: 120px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 137.19%;
    /* or 16px */
    
    color: #FFFFFF;
    
    }